<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
<script src="https://unpkg.com/dagre@0.7.4/dist/dagre.js"></script>
<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.5/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<!--link rel="stylesheet" href="/node_modules/tippy.js/dist/tippy.css"-->


<style>
  #cy {
    width: 950px;
    height: 600px;
    display:grid;
    /*border-style: groove;*/
    position:sticky;
    right:3%;
  }
  #cy-container {
    width: 1000px;
    height: 80%;
    display:block;
    position:fixed;
    right: 2%;
  }
</style>

<div class="card" style="left: 10px; position: absolute;">

    <p-toast></p-toast>
    <button pButton type="button" label="Expand all" (click)="expandAll()" pTooltip="Expand all provinces" class="mr-2"></button>
    &nbsp;
    <button pButton type="button" label="Collapse all" (click)="collapseAll()" pTooltip="Collapse all provinces"></button>
    <p-tree [value]="data" selectionMode="single" [filter]="true" filterMode="strict" filterPlaceholder="Search province" [(selection)]="selected_node"
      (onNodeSelect)="printSelectedNode($event)"
    ></p-tree>
    
</div>

<p-panel header="Graph" id="cy-container">

  <ng-template pTemplate="icons">
    <button pButton icon="pi pi-facebook" class="p-button-icon mr-2" label="Cose" pTooltip="Change graph layout to CoSE" (click)="changeLayoutToCose()"></button>
    <button pButton icon="pi pi-instagram" class="p-button-danger" label="Grid" pTooltip="Change graph layout to Grid" (click)="changeLayoutToGrid()"></button>
    <button pButton icon="pi pi-linkedin" class="p-button-icon mr-2" label="Concentric" pTooltip="Change graph layout to Concentric" (click)="changeLayoutToConcentric()"></button>
    <button pButton icon="pi pi-reddit" class="p-button-danger" label="Circle" pTooltip="Change graph layout to Circle" (click)="changeLayoutToCircle()"></button>
    <button pButton icon="pi pi-discord" class="p-button-icon mr-2" label="BreathFirst" pTooltip="Change graph layout to BreathFirst" (click)="changeLayoutToBreathFirst()"></button>
    <p-button class="p-button-danger" (click)="showDialog()" icon="pi pi-external-link" label="Show Ring"></p-button>
    <p-dialog header="Rings in {{provinceName}}" [(visible)]="visible" [style]="{width: '500px', position: 'flex'}" style="border-color: aquamarine;">
      <ul>
        <li *ngFor="let ring of ringData" style="border: 0cap; border-color: chocolate;">
          {{ring}} <br>
        </li>
      </ul>
    </p-dialog>
  </ng-template>
    <div id="cy"></div>
  <!--ng-template pTemplate="footer" id="footer"></ng-template-->
  <div class="card flex justify-content-center">
    
</div>
</p-panel>
<!--div id="cy">

</div-->
