<style>
  #cy {
    width: 950px;
    height: 600px;
    display:grid;
    /*border-style: groove;*/
    position:sticky;
    right:3%;
  }
  #cy-container {
    width: 1000px;
    height: 80%;
    display:block;
    position:fixed;
    right: 2%;
  }
</style>

<div class="card" style="left: 10px; position: absolute;">

    <p-toast></p-toast>
    <button pButton type="button" label="Expand all" (click)="expandAll()" class="mr-2"></button>
    &nbsp;
    <button pButton type="button" label="Collapse all" (click)="collapseAll()"></button>
    <p-tree [value]="data" selectionMode="single" [filter]="true" filterMode="strict" filterPlaceholder="Strict Filter" [(selection)]="selected_node"
      (onNodeSelect)="printSelectedNode($event)" (onNodeUnselect)="closeSelectedNode($event)"
    ></p-tree>
    
</div>

<p-panel header="Graph" id="cy-container">

  <ng-template pTemplate="icons">
    <button pButton icon="pi pi-facebook" class="p-button-icon mr-2" label="Cose" (click)="changeLayoutToCose()"></button>
    <button pButton icon="pi pi-instagram" class="p-button-danger" label="Grid" (click)="changeLayoutToGrid()"></button>
    <button pButton icon="pi pi-linkedin" class="p-button-icon mr-2" label="Concentric" (click)="changeLayoutToConcentric()"></button>
    <button pButton icon="pi pi-reddit" class="p-button-danger" label="Circle" (click)="changeLayoutToCircle()"></button>

  </ng-template>
    <div id="cy"></div>
  <!--ng-template pTemplate="footer" id="footer"></ng-template-->

</p-panel>
<!--div id="cy">

</div-->
